h1 {
  text-align: center;
  margin-bottom: 10px;
  padding: 20px 0;
  background-color: black;
  color: white;
  border: 3px solid red;
  text-transform: capitalize;
}
h2,
h3,
h4 {
  text-align: center;
  background-color: black;
  color: white;
  border: 3px solid red;
  padding: 20px 0;
  margin-top: 50px;
  text-transform: capitalize;
}

.p1 {
  text-transform: capitalize;
}
.m {
  padding: 80px 0;
}
.p2 {
  text-transform: capitalize;
}
.p3 {
  text-align: justify;
}
